@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #fbf9f5;
}

/*** NAVBAR  ***/

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}

#logo img {
    height: 56px;
    width: 56px;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: rgb(59, 58, 58);
}

nav a:hover {
    color: black;
}

li a.active {
    color: black;
    font-weight: bold;
}

/*** NAVBAR ***/

/*** MAIN ***/

header {
    display: flex;
    flex-direction: row;
    padding: 40px;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
}

.description-header {
    width: 60%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-header h3 {
    font-size: 25px;
    margin: 12px 0px;
}

.description-header h1 {
    font-size: 50px;
    margin: 12px 0px;
    color: rgb(59, 58, 58);
}

.contact-link {
    display: flex;
    text-decoration: none;
    background-color: white;
    color: rgb(59, 58, 58);
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    padding: 24px 32px;
    border: 2px solid rgb(59, 58, 58);
    transition: all .5s ease-in-out;
}

.contact-link:hover {
    background: rgb(59, 58, 58);
    color: white;
}

.photo-header {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-header img {
    width: 30vw;
    height: 60vh;
}

#services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 64px 56px;
}

#services-container img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24vw;
    gap: 32px;
}

.description-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    /* margin-top: 20px; */
}

#galerie {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 30px;
}

#galerie h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.projets-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
}

.projet-card {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: fit-content;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20px;

}

.projet-card img {
    width: 24vw;
    height: 46vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projet-card h4,
.projet-card p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.photo-galerie {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.description-projet {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: 8vh;
}

#temoignages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 20px;
    
}

#temoignages h2 {
    text-align: center;
}

.temoignages-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.temoignage-card {
    height: 32vh;
    width: 24vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #f3f0ea;
    border-radius: 10px;
    padding: 0px 20px;
}

.client {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    gap: 20px;
}

.client img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
}

.description-client h4,
.description-client p {
    margin: 0;
    padding: 0;
}

.temoignage-card h5{
    padding: 0px 24px;
    margin: 0;
}
/*** MAIN ***/

/*** FOOTER ***/

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
    width: 80vw;
}

.footer-gauche {
    width: 60%;
    padding-left:20px ;
}

.footer-droit{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
}

.social-links{
    width: 10px;
    height: 10px;
}
/*** FOOTER ***/