@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*** NAVBAR ***/
a {
    text-decoration: none;
}

nav {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}

#logo img {
    height: 56px;
    width: 56px;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: black;
}

/*** NAVBAR ***/

/*** MAIN ***/

header {
    display: flex;
    flex-direction: row;
    margin: 32px 54px 96px;
    ;
    justify-content: space-around;
}

.description-header {
    width: 60%;
    margin: 0;
}

.description-header h3 {
    font-size: medium;
    margin: 12px 0px;
}

.description-header h1 {
    font-size: 40px;
    margin: 12px 0px;
}

.contact-link {
    display: flex;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    padding: 24px 32px;
    margin-top: 64px;
    /* border: 2px solid black; */
    /* transition: all .3s ease-in-out; */
}

.photo-header {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-header img {
    width: 30vw;
    height: 50vh;
}

#services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#services-container img {
    width: 150px;
    height: 150px;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24vw;
}

.description-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
/*** MAIN ***/